{
    "$schema": "https://swc.rs/schema.json",
    "exclude": ["/**/*.test.ts", "/**/*.test.tsx"],
    "jsc": {
        "externalHelpers": true,
        "parser": {
            "decorators": false,
            "dynamicImport": false,
            "syntax": "typescript",
            "tsx": true
        },
        "target": "es2019",
        "transform": {
            "react": {
                "runtime": "automatic"
            }
        }
    },
    "minify": false,
    "module": {
        "type": "es6"
    },
    "sourceMaps": true
}
